<!DOCTYPE html>
<html>
	<head>
	    <title>Todos - Organizing your life</title>
		<script src="http://code.jquery.com/jquery-1.10.1.js"></script>
		<script src="http://underscorejs.org/underscore.js"></script>
		<script src="http://backbonejs.org/backbone.js"></script>
		<script src="js/models.js"></script>	
		<script src="js/views.js"></script>	
		<script src="js/router.js"></script>		
	</head>
	<body>
	  <div id="todo">
	  </div>
	  <script type="text/template" id="item-template">
	    <div>
	      <input id="todo_complete" type="checkbox" <%= completed ? 'checked="checked"' : '' %>>
	      <%= title %>
	    </div>
	  </script>
	</body>
</html>